<h1>Edit Post</h1>
<%= form_with scope: :post, url: post_path(@post), method: :put, local: true do |form| %>
  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, class: 'form-control w-50' %>
  </p>

  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body, class: 'form-control w-50' %>
  </p>

  <p>
    <%= form.submit class: 'btn btn-primary' %>
  </p>
<% end %>