<h1>Blog Posts</h1>
<% @posts.each do |post| %>
  <h2></h2>
  <p></p>
  <div class="card">
    <h4 class="card-header"><%= post.title %></h4>
    <div class="card-body">
      <p class="card-title"><%= post.body %></p>
      <%= link_to "Expand Post", post_path(post), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>