<h2><%= @post.title %></h2>
<p><%= @post.body %></p>
<%= link_to 'Edit Post', edit_post_path, class: "btn btn-primary" %>
<%= link_to 'Delete Post', post_path(@post), method: :delete, class: "btn btn-danger" %>

<h3 class="mt-4">Comments:</h3>
<% @post.comments.each do |comment| %>
  <p class="mt-3"><span class="font-weight-bold"><%= comment.username %>:&nbsp</span><%= comment.body %></p>
  <%= link_to 'Delete Comment', [comment.post, comment], method: :delete, class: 'text-danger' %>
<% end %>

<h3 class="mt-4">Add Comment</h3>
<%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :username %><br>
    <%= form.text_field :username, class: 'form-control w-50' %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body, class: 'form-control w-50' %>
  </p>
  <p>
    <%= form.submit class: 'btn btn-primary' %>
  </p>
<% end %>