<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <%= link_to 'Blog Site', home_path, class: "navbar-brand text-light" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to 'Home', home_path, class: "nav-link text-light" %>
        </li>
        <li class="nav-item">
          <%= link_to 'New Post', new_post_path, class: "nav-link text-light" %>
        </li>
      </ul>
    </div>
  </nav>

  <div class="p-5">
    <%= yield %>
  </div>
  </body>
</html>
